<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h3>Mittleres Löschfahrzeug (MLF)</h3>
						<p>
							<strong>Indienststellung des neuen Mittleren Löschfahrzeuges (MLF)</strong>
						</p>
						<p>
							Nach der feierlichen Übergabe der MLF am 17. Mai 2014 und mit Abschluss der letzten Überprüfungen durch das Amt für Brandschutz, Rettungsdienst und Katastrophenschutz konnten wir unser neues Löschfahrzeug am 03. Juni 2014 in den Dienst stellen. Mit einem lachenden Auge, auf Grund der Vorfreude auf das neue Fahrzeug, und einem weinenden Auge, Abschied von unserem TSF-W nehmen zu müssen, tauschten wir die Fahrzeuge im Amt 37. Wir hoffen das neue MLF wird uns ebenso treue Dienste leisten wie es das TSF-W die vergangenen 20 Jahre getan hat.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h3>TSF-W</h3>
						<p>
							<strong>Tragkraftspritzenfahrzeug mit Wasser</strong>
						</p>
						<p>
							Das Einsatzfahrzeug unserer Freiwilligen Feuerwehr ist ein Tragkraftspritzenfahrzeug mit Wasser, kurz TSF-W. Es hat eine Beladung gemäß DIN 14530 mit der Besonderheit, dass die Besatzung des Fahrzeugs eine Staffel ist, die Ausrüstung jedoch einer Gruppe entspricht.
Das Fahrzeug wurde 1993 beschafft und von der FGL Luckenwalde aufgebaut.
In der Fahrerkabine sind Sanitätskasten, Warnwesten, Feuerwehrleinen sowie Winkerkelle und andere Verkehrssicherungsgerätschaften untergebracht. Auf dem Fahrzeug befinden sich 4 Steckleiterteile.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<h3>Hochwasserboot</h3>
						<ul>
							<li>
								Länge: 4,30 m
							</li>
							<li>
								Breite: 1,50 m
							</li>
							<li>
								Höhe: 0,50 m
							</li>
							<li>
								Gewicht: 140 kg
							</li>
							<li>
								Zuladung:	6 Personen einschließlich Besatzung
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
