<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Januar</div>
					<div class="card-block">
						<ul>
							<li>
								04.	- 19.00 Uhr	- Allgemeine Belange, rechtliche Grundlagen	- H. Friebel
							</li>
							<li>
								18. -	19.00 Uhr	-	Persönliche Schutzausrüstung - H. Friebel
							</li>
							<li>
								29.	-	18.00 Uhr	-	Wehrausschusssitzung - H. Friebel<br />
								nach	Absprache	operativ taktisches Studium Schloss Molsdorf - S. Ulbrich
							</li>
							<li>
								30.	-	15.30 Uhr -	17.30 Uhr	Jahreshauptversammlung Förderverein - P. Schwabe<br />
								Jahreshauptversammlung Feuerwehr - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Februar</div>
					<div class="card-block">
						<ul>
							<li>
								01.	- 19.00 Uhr	- Grundlagen der Eis- und Wasserrettung - M.Cleem
							</li>
							<li>
								15.	- 19.00 Uhr	- Besonderheiten der Fahrzeugbeladung	- St. Baumgarten<br />
								nach	Absprache	Atemschutznotfalltraining	- H. Friebel
							</li>
							<li>
								26.	- 18.30 Uhr	- Wehrausschusssitzung	- H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">März</div>
					<div class="card-block">
						<ul>
							<li>
								07.	- 19.00 Uhr	Brennen und Löschen	- H. Friebel
							</li>
							<li>
								21.	- 19.00 Uhr	Knoten, Stiche - St. Baumgarten<br />
								Tragbare Leitern FwDV 10 - S. Pöppich<br />
								nach	Absprache	Seminar Maschinisten MLF - N. Jentsch<br />
								nach	Absprache	Seminar Führungskräfte - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">April</div>
					<div class="card-block">
						<ul>
							<li>
								02.	8.00 Uhr - Seminar MTW-Fahrer - St. Balven
							</li>
							<li>
								04.	- 19.00 Uhr - Leitern steigen	- S. Pöppich<br />
								Funk - M. Krech
							</li>
							<li>
								18.	- 19.00 Uhr	FwDV 3 LE	- M. Cleem<br />
								nach	Absprache	Vorbereitung Fahrzeug- und Geräteprüfung, da noch kein genauer Termin seitens des Amtes 37 bekannt gegeben wurde, werden diese Termine kurzfristig abgesprochen!!! - N. Jentsch
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Mai</div>
					<div class="card-block">
						<ul>
							<li>
								02.	- 19.00 Uhr -	FwDV 3 LE	- S. Pöppich
							</li>
							<li>
								09. -	19.00 Uhr	- FwDV 3 LE	- M. Cleem
							</li>
							<li>
								23.	- 19.00 Uhr -	Sicherung von verunfallten Fahrzeugen,<br />
								Unfälle mit alternativ angetriebenen Fahrzeugen,<br />
								Sicherung von Einsatzstellen M. Cleem, St. Baumgarten
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Juni</div>
					<div class="card-block">
						<ul>
							<li>
								06.	- 19.00 Uhr	- FwDV 3 THL - M. Cleem
							</li>
							<li>
								13. -	19.00 Uhr -	Stromerzeugung und Ausleuchten - N. Jentsch, M. Holbein
							</li>
							<li>
								20.	- 19.00 Uhr -	Pumpenausbildung - N. Jentsch, M. Holbein
							</li>
							<li>
								24.	- 18.30 Uhr	- Wehrausschusssitzung - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">August</div>
					<div class="card-block">
						<ul>
							<li>
								15. -	19.00 Uhr -	Einfache Rettung aus Höhen und Tiefen - St. Baumgarten
							</li>
							<li>
								22. - 19.00 Uhr -	Grundlagen der Absturzsicherung	- M. Krech
							</li>
							<li>
								26.	- 18.30 Uhr - Wehrausschusssitzung - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">September</div>
					<div class="card-block">
						<ul>
							<li>
								05.	- 19.00 Uhr -	z.b.V. - H. Friebel
							</li>
							<li>
								12.	- 19.00 Uhr	- Hydrantenkontrolle - M. Cleem
							</li>
							<li>
								19. - 19.00 Uhr - operativ taktisches Studium Bahnanlagen - H. Friebel<br />
								nach	Absprache	operativ taktisches Studium / BMA -	S. Ulbrich
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Oktober</div>
					<div class="card-block">
						<ul>
							<li>
								10.	- 19.00 Uhr -Besondere Einsatzlagen	- H. Friebel
							</li>
							<li>
								24.	- 19.00 Uhr	- Gefahren der Einsatzstelle - H. Friebel
							</li>
							<li>
								22.	- 8.00 Uhr - Atemschutzstrecke - H. Friebel<br />
								nach	Absprache	Seminar Führungskräfte - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">November</div>
					<div class="card-block">
						<ul>
							<li>
								07. - 19.00 Uhr - Gefahrgut	- H. Friebel
							</li>
							<li>
								14. -	19.00 Uhr -	Einsätze an Bahnanlagen	- H. Friebel<br />
								nach Absprache Seminar Führungskräfte - H. Friebel
							</li>
							<li>
								25.	- 18.00 Uhr -	Wehrausschusssitzung - H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Dezember</div>
					<div class="card-block">
						<ul>
							<li>
								05.	- 19.00 Uhr	- operativ taktisches Studium -	H. Friebel
							</li>
							<li>
								12.	- 19.00 Uhr -	Allgemeines	- H. Friebel<br />
								nach Absprache Wehrausschusssitzung -	H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section></section>

{{outlet}}
