{{#if slides}}
  
    {{#slick-slider autoplay=true arrows=false fade=true speed=500}}
      
      {{#each slides as |slide|}}
        <div class="box" style="background-image: url({{slide.img}});">
          <div class="container">
            <h2 class="headline">{{slide.headline}}</h2>
            <p class="text">{{slide.text}}</p>
          </div>
        </div>
      {{/each}}
      
      {{yield}}

    {{/slick-slider}}
    
{{/if}}