<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Wehrausschuss</div>
					<div class="card-block">
						<ul>
							<li>
								Hendrik Friebel	- Wehrführer
							</li>
							<li>
								Marcel Cleem - stellv. Wehrführer
							</li>
							<li>
								Kristian Schwabe - Jugendfeuerwehrwart
							</li>
							<li>
								Ines Schwabe - Kinderfeuerwehrwart
							</li>
							<li>
								Nico Jentsch - Beisitzer und Gerätewart
							</li>
							<li>
								Susann Pöppich - Beisitzer
							</li>
							<li>
								Jürgen Schwabe - Vetreter der Alters- und Ehrenabteilung
							</li>
							<li>
								Göran Kreutzer - Sicherheitsbeauftragter
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container text-center">
		<p>
			<strong>AGT</strong> - Atemschutzgeräteträger
		</p>
		<p>
			<strong>MA</strong> - Maschinist
		</p>
		<p>
			<strong>KSF</strong> - Kettensägenführer
		</p>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">Mitglieder</div>
					<div class="list-group">
						<div class="list-group-item justify-content-between">
					    Baumgarten Steffen - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
					    Cleem	Marcel - Gruppenführer
							<div>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
					    Farwick	Dirk
					  </div>
						<div class="list-group-item justify-content-between">
					    Baumgarten Steffen - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Friebel	Aileen - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Friebel	Hendrik - Zugführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Grzona	Michael - Truppführer
					  </div>
						<div class="list-group-item justify-content-between">
							Heinemann	Till
					  </div>
						<div class="list-group-item justify-content-between">
							Heinz	Henry
					  </div>
						<div class="list-group-item justify-content-between">
							Hennrich Martin - Truppführer
							<div>
						    <span class="badge badge-warning badge-pill">AGT (derzeit nicht einsetzbar)</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Holbein	Marcus - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Jentsch	Nico - Truppmann
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Kewitz Ralf - Truppführer
							<div>
								<span class="badge badge-default badge-pill">MA</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Kieper Marco
					  </div>
						<div class="list-group-item justify-content-between">
							Krech Michael - Truppführer
							<div>
						    <span class="badge badge-warning badge-pill">AGT (derzeit nicht einsetzbar)</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Lorenz Silvio - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Milde	Lars - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Pöppich	Susann - Gruppenführer
							<div>
						    <span class="badge badge-default badge-pill">AGT</span>
								<span class="badge badge-default badge-pill">MA</span>
								<span class="badge badge-default badge-pill">KSF</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe Ines
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe	Kristina - Truppmann
					  </div>
						<div class="list-group-item justify-content-between">
							Schwabe	Peter - Truppführer
							<div>
						    <span class="badge badge-default badge-pill">MA</span>
							</div>
					  </div>
						<div class="list-group-item justify-content-between">
							Thiem	Anabell
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
