<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
		<div class="box" style="background-image: url(/img/main-1.jpg);">
			<div class="container">
				<h2 class="headline">Sei dabei!</h2>
				<p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-2.jpg);">
			<div class="container">
				<h2 class="headline">Unsere Jugend</h2>
				<p class="text">Lerne alles rund um die Feuerwehr.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-3.jpg);">
			<div class="container">
				<h2 class="headline">Ehrenabteilung</h2>
				<p class="text">Einen wehrtvoller Beitrag leisten.</p>
			</div>
		</div>
	{{/slick-slider}}

</section>

<section>
	<div class="container">
    <div class="card">
      <div class="card-block">
        <h3>Freizeitfahrten</h3>
        <p><strong>Um den Kindern und Jugendlichen ein wenig Abwechslung zu verschaffen, führen wir jedes Jahr eine Freizeitfahrt durch.</strong></p>
        <p>Wir haben schon verschiedene Orte in Thüringen wie Finsterbergen, Burgtonna, Friedrichroda, Beichlingen, Sonneberg und Tabarz besucht. Bei diesen Fahrten lassen wir die Arbeit der Feuerwehr außen vor. Neben diesen Fahrten besuchten wir auch schon mehrmals unsere Partnerjugendfeuerwehr aus Oberbeisheim, wo wir immer viel Spaß haben.</p>
      </div>
    </div>
	</div>
</section>

<section></section>

{{outlet}}
