
//
// Import or define the rest of your themelication's styles.
@import "customized-bootstrap/customized-bootstrap";

//
// Import global variables and mixins
@import "mixins";

//
// themelication
@import "components/global";
@import "components/layout";
@import "components/application";
@import "components/nav";
@import "components/emergency";
@import "components/footer";
@import "components/slick-slider";
@import "components/section";
@import "components/grid";
@import "components/events";
@import "components/card";
