
$font-family-base: 'Gudea', sans-serif;
$brand-primary: #a93103;
//$body-bg: $brand-primary;

//
// Color Offsets

$color-offset-default: 5%;

//
// Base Colors

$base-color: #282B2D;									// ( Grey )

$color-default:	  	$base-color;   	  // Default ( Base )
$color-primary:	  	$color-default;   // Primary
$color-info:      	$color-default;		// Info
$color-success:	  	$color-default;		// Success
$color-warning:	  	$color-default;		// Warning
$color-danger:    	$color-default;		// Danger
$color-highlighted:	#51AFC7;

//
// Layout Colors

$layout-color-default: $color-default;


//
// Text

$text-fontFamily: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
$text-fontSize-default: 1.0rem;
$text-lineHeight-default: 1rem;

$text-color-default:  lighten($color-default, 100%);
$text-color-primary:  darken($color-primary, 0%);
$text-color-info:     darken($color-info, 50%);
$text-color-success:  darken($color-success, 40%);
$text-color-warning:  darken($color-warning, 50%);
$text-color-danger:   darken($color-danger, 50%);


//
// Borders

$border-width-default: 1px;
$border-color-default: lighten($layout-color-default, $color-offset-default / 2);
$border-style-default: solid;
$round-border-radius-default: 3px;


//
// Spaces

$space-default: 0.5em;


//
// Transitions

$transition-time-default: .2s;


//
// Shadow

$shadow-color-default: rgba(0, 0, 0, .4);
$shadow-size: $space-default;
$shadow-pos-left: 0px;
$shadow-pos-top: 0px;
$shadow-weight: 0px;
