//
// Fixed Application Layout

.ember-application {

	// .ember-view {
	// 		position: relative;
	// }
	//
	// > .ember-view {
	// 	position: fixed;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	//
	// 	> [class^="ish-layout"] {
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		bottom: 0;
	// 		left: 0;
	//
	// 		.scrollable {
	// 			overflow: auto;
	// 		}
	//
	// 	}
	//
	// }

}


//
// Allpication Content

.application-content {
  //@include flex(1 1 auto);
}
