
//
// Footer

.footer {
  padding: $space-default $space-default * 2;
  color: $text-color-default;
  background: darken($base-color, $color-offset-default);
  border-top: $border-width-default $border-style-default $border-color-default;

  a {
    color: $text-color-default;

    &:hover {
      text-decoration: none;
    }
  }
}
