
//
// Footer

.footer {
	background: lighten($color-default, $color-offset-default * 3);

	.content {
		background: darken($color-default, $color-offset-default * 1);
		padding: $space-default * 3 0;

		a {
			color: darken($text-color-default, 50%);

			&:hover {
				color: lighten($text-color-default, 100%);
			}

			.fa {
				margin-right: $space-default / 2;
			}

		}

		.text-together {
			color: $text-color-default;
	    font-size: $text-fontSize-default * 2;
		}

	}

	.copyright {
		padding: $space-default * 3 0;
		font-size: $text-fontSize-default - 0.2;
		color: lighten($text-color-default, 100%);
	}

}
