
//
// Global

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: $body-bg;
	background-image: url(http://www.shunvmall.com/data/out/18/47659643-background-images.jpg);
  color: $text-color-default;
  font-size: $text-fontSize-default;
}
