
//
// Nav

.navbar {
  background: darken($color-default, $color-offset-default * 1);
	margin-bottom: 0.1em;
	@include opacity(.9);

	.container {
		@include media-breakpoint-down(xs) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.navbar-brand {

		.fa {
			margin-right: $space-default / 2;
			font-size: $text-fontSize-default + .4;
		}

	}

	.navbar-nav {
		
		.fa {
			margin-right: $space-default / 2;
			font-size: $text-fontSize-default * 1;
		}

	}

}
