
section {
	margin-bottom: $space-default * 6;

	&.grey {
    // background-color: #f4f8fb;
		@include gradient-v(lighten(#f4f8fb, $color-offset-default), #f4f8fb);
		padding: $space-default * 6 0;
		margin-top: -$space-default * 6;
	}

	&.highlight {
    @include gradient-h(lighten(#f4f8fb, $color-offset-default), #fdfcc1);
		padding: $space-default * 6 0;
		@include border-top-bottom();

		h2 {
			// margin-bottom: -$space-default;
		}

	}

}
