
section {

	& ~ section {
		margin-top: $space-default * 6;
	}

	&.grey {
		@include gradient-v(lighten(#f4f8fb, $color-offset-default), #f4f8fb);
		padding: $space-default * 6 0;
	}

	&.highlight {
		padding: $space-default * 6 0;
    // @include gradient-v(lighten(#f4f8fb, $color-offset-default), #A2CBFF);
		background: lighten($body-bg, 100%);
		@include border-top-bottom();

		h2 {
			margin-bottom: $space-default;
		}

	}

}
