{{ui-slick slides=model.headerSlides}}

<section>
	<div class="container">
    <div class="card">
      <div class="card-block">
        <h3>Freizeit</h3>
        <p><strong>Besuch im Kletterwald Hohenfelden</strong></p>
        <p>Am 08.08.09 hat die Jugendfeuerwehr den Kletterwald in Hohenfelden besucht. Das Wetter spielte mit und so machten wir uns auf unsere Kletterkünste unter Beweis zustellen.</p>
        <p>Nach dem Anlegen der professionellen Ausrüstung und der Einweisung wurde es auf dem Spaß-Parcours Ernst. Die noch vorhandenen Unsicherheiten konnten dort beseitigt werden. Dann machten wir uns auf, den Kletterwald zu erkunden. Mit vollem Körpereinsatz und der ein oder anderen Schweißperle auf der Stirn ging es über Drahtseile, Baumstämme und Seile von der einen Plattform zur anderen. Nach zwei Stunden waren dann die ersten beiden Parcours absolviert und leider auch die Zeit am Limit. Alle zusammen konnten wir uns aber einigen: "Den Rest des Kletterwaldes nehmen wir uns ein anderes Mal vor."</p>      </div>
    </div>
	</div>
</section>

<section>
	<div class="container">
    <div class="card">
      <div class="card-block">
        <h3>Besichtigung im GSZ</h3>
        <p><strong>Besuch im Kletterwald Hohenfelden</strong></p>
        <p>Am 08.08.09 hat die Jugendfeuerwehr den Kletterwald in Hohenfelden besucht. Das Wetter spielte mit und so machten wir uns auf unsere Kletterkünste unter Beweis zustellen.</p>
        <p>Nach dem Anlegen der professionellen Ausrüstung und der Einweisung wurde es auf dem Spaß-Parcours Ernst. Die noch vorhandenen Unsicherheiten konnten dort beseitigt werden. Dann machten wir uns auf, den Kletterwald zu erkunden. Mit vollem Körpereinsatz und der ein oder anderen Schweißperle auf der Stirn ging es über Drahtseile, Baumstämme und Seile von der einen Plattform zur anderen. Nach zwei Stunden waren dann die ersten beiden Parcours absolviert und leider auch die Zeit am Limit. Alle zusammen konnten wir uns aber einigen: "Den Rest des Kletterwaldes nehmen wir uns ein anderes Mal vor."</p>
      </div>
    </div>
	</div>
</section>

<section></section>

{{outlet}}
