<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
		<div class="box" style="background-image: url(/img/main-1.jpg);">
			<div class="container">
				<h2 class="headline">Sei dabei!</h2>
				<p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-2.jpg);">
			<div class="container">
				<h2 class="headline">Unsere Jugend</h2>
				<p class="text">Lerne alles rund um die Feuerwehr.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-3.jpg);">
			<div class="container">
				<h2 class="headline">Ehrenabteilung</h2>
				<p class="text">Einen wehrtvoller Beitrag leisten.</p>
			</div>
		</div>
	{{/slick-slider}}

</section>

<section>
	<div class="container">
		<h2>{{t 'navigation.education'}}</h2>

		<h3>Dienstplan</h3>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Januar</div>
					<div class="card-block">
						<ul>
							<li>
								04.	- 19.00 Uhr	- Allgemeine Belange, rechtliche Grundlagen	H. Friebel
							</li>
							<li>
								18. -	19.00 Uhr	-	Persönliche Schutzausrüstung	H. Friebel
							</li>
							<li>
								29.	-	18.00 Uhr	-	Wehrausschusssitzung	H. Friebel
								nach	Absprache	operativ taktisches Studium Schloss Molsdorf	S. Ulbrich
							</li>
							<li>
								30.	-	15.30 Uhr -	17.30 Uhr	Jahreshauptversammlung Förderverein	P. Schwabe
								Jahreshauptversammlung Feuerwehr	H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Februar</div>
					<div class="card-block">
						<ul>
							<li>
								01.	- 19.00 Uhr	- Grundlagen der Eis- und Wasserrettung	M.Cleem
							</li>
							<li>
								15.	- 19.00 Uhr	- Besonderheiten der Fahrzeugbeladung	St. Baumgarten nach	Absprache	Atemschutznotfalltraining	H. Friebel
							</li>
							<li>
								26.	- 18.30 Uhr	- Wehrausschusssitzung	H. Friebel
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">März</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">April</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Mai</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Juni</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">August</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">September</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Oktober</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">November</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Dezember</div>
					<div class="card-block">
						<ul>
							<li>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section></section>

{{outlet}}
