{{outlet}}

{{ui-slick slides=model.headerSlides}}

<section class="container">

	<h2>{{t 'footer.imprint'}}</h2>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
			  <div class="card-block">
			    <h3 class="card-title">Verantwortlicher nach §5 TMG</h3>
			    <p class="card-text">
						Förderverein der Freiwilligen Feuerwehr	Erfurt-Molsdorf e.V.<br/>
						Vereinsregister: <strong>Amtsgericht Erfurt, VR 162012</strong><br/>
						Vorstandsvorsitzender: <strong>Peter Schwabe</strong><br/>
						Graf-Gotter-Straße 21<br/>
						99094 Erfurt-Molsdorf<br/>
						Deutschland
					</p>
					<p>
						<i class="fa fa-external-link" aria-hidden="true"></i><a href="www.feuerwehr-molsdorf.de">www.feuerwehr-molsdorf.de</a><br/>
						<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+49 36 20 2 / 8 25 50">+49 36 20 2 / 8 25 50</a><br/>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="mailto:vorstand.verein@feuerwehr-molsdorf.de">vorstand.verein@feuerwehr-molsdorf.de</a>
					</p>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
			  <div class="card-block">
			    <h3 class="card-title">Inhaltliche Ansprechpartner</h3>
			    <p class="card-text">
						<strong>Andreas Müller</strong><br/>
						An der Gerabrücke 11<br/>
						99094 Erfurt-Molsdorf<br/>
						Deutschland
					</p>
					<p>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="mailto:andreas.mueller@feuerwehr-molsdorf.de">andreas.mueller@feuerwehr-molsdorf.de</a>
					</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
			  <div class="card-block">
			    <h3 class="card-title">Administrativer Ansprechpartner</h3>
			    <p class="card-text">
						<strong>Christoph Kreutzer</strong><br/>
						Langewiesener Str. 19<br/>
						98693 Ilmenau<br/>
						Deutschland<br/>
					</p>
					<p>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="mailto:webmaster@feuerwehr-molsdorf.de">webmaster@feuerwehr-molsdorf.de</a>
					</p>
			  </div>
			</div>
		</div>
	</div>

</section>

<section></section>
