<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
	  <div class="box">
			<img src="http://i.huffpost.com/gen/2542002/images/o-FIREFIGHTER-facebook.jpg" />
		</div>
	  <div class="box">
			<img src="http://assets.howtobecome.com/assets/images/2014/01/Firefighter.jpg" />
		</div>
		<div class="box">
			<img src="http://az616578.vo.msecnd.net/files/2016/08/28/636079471828984222661554454_firefighters.jpg" />
		</div>
	{{/slick-slider}}

</section>

<section class="container">

	<div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>
</section>

{{outlet}}
