<section>

	{{#slick-slider autoplay=true arrows=false fade=true speed=500}}
		<div class="box" style="background-image: url(/img/main-1.jpg);">
			<div class="container">
				<h2 class="headline">Sei dabei!</h2>
				<p class="text">Mach mit im Förderverein der<br/>freiwilligen Feuerwehr Erfurt-Molsdorf.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-2.jpg);">
			<div class="container">
				<h2 class="headline">Unsere Jugend</h2>
				<p class="text">Lerne alles rund um die Feuerwehr.</p>
			</div>
		</div>
		<div class="box" style="background-image: url(/img/main-3.jpg);">
			<div class="container">
				<h2 class="headline">Ehrenabteilung</h2>
				<p class="text">Einen wehrtvoller Beitrag leisten.</p>
			</div>
		</div>
	{{/slick-slider}}

</section>

<section>
	<div class="container">
		<div class="nav nav-pills nav-fill" role="tablist">
		  <div class="nav-item">
				{{#link-to "operation.timetable" class="nav-link"}}
					{{t "navigation.timetable"}}
				{{/link-to}}
		  </div>
		  <div class="nav-item">
				{{#link-to "operation.technology" class="nav-link"}}
					{{t "navigation.technology"}}
				{{/link-to}}
		  </div>
		  <div class="nav-item">
				{{#link-to "operation.members" class="nav-link"}}
					{{t "navigation.members"}}
				{{/link-to}}
		  </div>
		</div>
	</div>
</section>

<section></section>

{{outlet}}
